<% if(locals.avatar) { %>
<img src="<%= locals.avatar %>" alt="..." 
class="img-profile img-thumbnail rounded mx-auto d-block mb-3">
<% } %>

<form action="/profile/avatar" method="post" enctype="multipart/form-data">
  <div class="input-group">


    <div class="form-group w-100">
      <label class="fileContainer btn-primary text-center w-100">Changer votre avatar
        <input type="file" class="form-control-file" name="avatar" id="input-avatar">
      </label>
    </div>


    <button class="btn btn-outline-secondary btn-block" type="submit" id="btn-avatar">
      Changer
    </button>


  </div>
</form>