<% include ../partials/head %>

<body>

  <div class="container d-flex h-100 p-3 mx-auto flex-column">

    <% include ../partials/menu %>

    <h5 class="flipInX"><i class="fas fa-pencil-alt"></i> Ajout d'un client</h5>

    <form action="/clients/ajout" method="POST">
      <div class="form-group">
        <label for="nomComplet">Nom complet</label>
        <input type="text" class="form-control" id="nomComplet" 
        pattern="[a-zA-Z0-9 ]*"
        name="nomComplet" placeholder="Enter nom complet"
          required>

      </div>

      <div class="form-group">
        <label for="ville">Ville</label>
        <input type="text" pattern="[a-zA-Z0-9 ]*"
        class="form-control" id="ville" name="ville" placeholder="Entrer ville" required>
      </div>

      <div class="form-group">
        <label for="tel">Tel</label>
        <input type="text" maxlength="10"
        title="numero de telephone doit etre composé de 6 chiffres"
        class="form-control" id="tel" name="tel" placeholder="Entrer numero telephone" required>
      </div>

      <div class="float-right">
        <button type="reset" class="btn btn-danger">vider</button>
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-plus"></i> AJOUTER
        </button>
      </div>

    </form>


    <% include ../common/snackbar %>


    <% include ../partials/footer %>
  </div>

  <% include ../common/scroll-top %>

</body>

</html>