<footer class="text-center mt-auto pt-5 mt-5 mb-3">
  <div class="d-md-flex flex-md-row flex-sm-column justify-content-center align-items-center py-3">
    <a href="/profile">PROFILE</a>
    <a class="ml-2" href="/contact">CONTACT</a>
    <a class="ml-2" href="/logout">DECONNEXION</a>
  </div>
  <div>
    <p>© Copyright Maher groups, All Rights Reserved.</p>
  </div>
</footer>


<script src="/javascripts/validation.js"></script>
<script src="/javascripts/custom.js"></script>
<script src="/javascripts/animation.js"></script>
<script src="/javascripts/fetch.js"></script>

<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
