<footer class="text-center mt-auto pt-5 mt-5">
  <div>
    <p>© Copyright Maher groups, All Rights Reserved.</p>
  </div>
</footer>

<script src="/javascripts/custom.js"></script>
<script src="/javascripts/animation.js"></script>
<script src="/javascripts/fetch.js"></script>

<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
