<% include partials/head %>

<body>

  <div class="container d-flex h-100 p-3 mx-auto flex-column">

    <% include partials/menu %>

    <h5 class="flipInX"><i class="fas fa-envelope-open-text"></i> Contact</h5>

    <% if(locals.data) { %>
    <form action="/contact" method="POST" class="form-contact">

      <div class="form-group">
        <label for="email">email</label>
        <input type="text" class="form-control" id="email" name="email" value="<%= data %>" required>

      </div>

      <div class="form-group">
        <label for="emailDest">Pour</label>
        <input type="email" class="form-control" id="emailDest" name="emailDest" placeholder="Entrer email destinateur"
          required>
      </div>

      <div class="form-group">
        <label for="sujet">sujet</label>
        <input type="text" class="form-control" id="sujet" name="sujet" placeholder="Entrer sujet" required>

      </div>

      <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control msg-contact" id="message" name="message" rows="3"></textarea>
      </div>

      <button class="btn btn-warning float-right" type="submit">
        <i class="fas fa-paper-plane"></i> Envoyer
      </button>

      <button class="btn btn-danger float-right mr-2" type="reset">
        <i class="fas fa-trash-alt"></i> vider
      </button>

    </form>
    <% } %>

    <% include common/alert-message %>


    <% include partials/footer %>
  </div>


</body>

</html>