<% include partials/head %>

<body>

  <div class="container d-flex h-100 p-3 mx-auto flex-column">

    <% include partials/menu %>

    <main role="main" class="vertical-center mx-auto text-center">
      <h1 class="cover-heading">Bienvenue</h1>
      <p class="lead home-msg"></p>
      <p class="lead">
        <button class="btn btn-warning" id="btn-stat">
          <i class="fas fa-chart-line"></i> statistique
        </button>

        <a href="/ventes/liste" class="btn btn-primary">Liste des ventes</a>
        <a href="/clients/liste" class="btn btn-secondary">Liste des clients</a>
      </p>

      <div id='myChart'></div>
    </main>

    <% include partials/footer %>
  </div>


</body>

</html>