<% include partials/head %>

<body>

  <div class="container d-flex h-100 p-3 mx-auto flex-column">

    <% include partials/menu %>

    <main role="main" class="mx-auto text-center mt-5">

      <h1 class="cover-heading">Bienvenue</h1>
      <p class="lead home-msg"></p>

      <div class="d-flex flex-md-row flex-sm-column">
        <button class="btn btn-warning mr-2" id="btn-stat">
          <i class="fas fa-chart-line"></i> statistique
        </button>
        <a href="/ventes/liste" class="btn btn-primary mr-2">Liste des ventes</a>
        <a href="/clients/liste" class="btn btn-secondary">Liste des clients</a>
      </div>


      <div class="w-100 mb-3" id='myChart'></div>

    </main>

    <% include partials/footer %>
  </div>


</body>

</html>