<% include partials/head %>

<body>
  
  <div class="container d-flex h-100 p-3 mx-auto flex-column">

    <% include partials/menu %>

      <h1 class="text-center cover-heading mt-5">Bienvenue</h1>
      <p class="text-center lead home-msg"></p>

      <div class="d-flex flex-md-row flex-sm-column justify-content-center">
        <button class="btn btn-warning mr-2" id="btn-stat">
          <i class="fas fa-chart-line"></i> statistique
        </button>
        <a href="/ventes/liste" class="btn btn-primary mr-2">Liste des ventes</a>
        <a href="/clients/liste" class="btn btn-secondary">Liste des clients</a>
      </div>

      <div class="w-100 mt-5 mb-3" id='myChart'></div>

    <% include partials/footer %>
  </div>

  <% include common/scroll-top %>

</body>

</html>