<% include partials/head %>

<body>

  <div class="container d-flex h-100 p-3 mx-auto flex-column">

    <% include partials/menu %>

    <h5 class="flipInX"><i class="fas fa-user"></i> Profile</h5>

    <div class="row">
      <div class="col-md-4">
        <% include profile/image-upload %>
      </div>

      <div class="col-md-8">

        <% include profile/profile-form %>

        <% include common/snackbar %>

      </div>
      
    </div>
    
    <% include partials/footer %>
  </div>

  <% include common/scroll-top %>
</body>

</html>