.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-expand {
   0% {
     letter-spacing: -0.5em;
     opacity: 0;
   }
   40% {
     opacity: 0.6;
   }
   100% {
     opacity: 1;
   }
 }
 @keyframes tracking-in-expand {
   0% {
     letter-spacing: -0.5em;
     opacity: 0;
   }
   40% {
     opacity: 0.6;
   }
   100% {
     opacity: 1;
   }
 }
 



@-webkit-keyframes flipInX {
  0% {
     -webkit-transform: perspective(400px) rotateX(90deg);
     opacity: 0;
  }
  40% {
     -webkit-transform: perspective(400px) rotateX(-10deg);
  }
  70% {
     -webkit-transform: perspective(400px) rotateX(10deg);
  }
  100% {
     -webkit-transform: perspective(400px) rotateX(0deg);
     opacity: 1;
  }
}

@keyframes flipInX {
  0% {
     transform: perspective(400px) rotateX(90deg); 
     opacity: 0;
  }
  40% {
     transform: perspective(400px) rotateX(-10deg);
  }
  70% {
     transform: perspective(400px) rotateX(10deg);
  }
  100% {
     transform: perspective(400px) rotateX(0deg);
     opacity: 1;
  }
}

.flipInX {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

